[data]
    keyboard = false
		dual_monitor = false
		laptop = false
		rusty_bar = false

[edit]
		command = "nvim"

[diff]
command = "nvim"
args = ["-d", "{{"{{"}} .Destination {{"}}"}}", "{{"{{"}} .Target {{"}}"}}"]

[merge]
command = "nvim"
args = ["-d", "{{"{{"}} .Source {{"}}"}}", "{{"{{"}} .Target {{"}}"}}", "{{"{{"}} .Destination {{"}}"}}"]

[git]
    autoCommit = true
    autoPush = true
